.home {
    background-color:  #65B3FC;
    text-align: justify;  
    width: 100%;
  }
  
  .home-logo {
    height: 40vmin;
    display: flex;
    align-items: center;
  }
  h2 {
    text-align: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  
  .home-header {
    background-color: #65B3FC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px, 20px, 20px, 20px;
  }
  
  .home-header-p {
    padding: 20px, 20px, 20px, 20px;
  }
  