.App {
  text-align: center;
  background: #65B3FC;
}

.App-logo {
  height: 40vmin;
  display: flex;
}

.App-header {
  background-color: #65B3FC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px, 20px, 20px, 20px;
}

.App-header-p {
  padding: 20px, 20px, 20px, 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
