#tomaPresion-container {
    background-color:  #65B3FC;
    text-align: left;  
    width: 100%;
}

#tomaPresion-consulta-container {
    background-color:  #d9e3f3;
    float: center;
    text-align: left;  
    width: 100%;
}

#mail-form {
    color: white;
    font-size: 14px;
}

#datos-presion {
    color: white;
    font-size: 14px;
}
#guardar {
    background-color:#FFBE5E;
    color:whitesmoke;
    border-radius: 10%;
}

h2 {
    font-size: 25px;
    font-family: monospace;
    color: white;
}

h4 {
    font-size: 18px;
    font-family: monospace;
    color: white;
}

.search-Label {
    float: right;
    padding-bottom: 10px;
}

.reac-bs-table-sizePerPage-dropdown .dropdown-toggle{
    float: left;
    margin-bottom: 20px;
}

.sr-only {
    font-size: 0;
}
