#perfilUsuario-container {
    background-color:  #65B3FC;
    text-align: left;  
    width: 100%;
    color: white;
    font-size: 16px;
}

#botones {
    background-color:#FFBE5E;
    color:whitesmoke;
    border-radius: 10%; 
    margin-right: 30px;
}

h2 {
    padding: 20px 10px 10px 10px;
    font-size: 28px;
    font-family: monospace;
    color: white;
}

h4 {
    font-size: 20px;
    font-family: monospace;
    color: white;
}
