#consultaTomaPresion-container {
    background-color:  #65B3FC;
    text-align: left;  
    width: 100%;
}

#tabla {
    color: white;
    font-size: 14px;
}

#consultaTomaPresion-consulta-container {
    background-color:  #d9e3f3;
    float: center;
    text-align: left;  
    width: 100%;
}

h2 {
    font-size: 25px;
    font-family: monospace;
    color: white;
}

.reac-bs-table-sizePerPage-dropdown .dropdown-toggle{
    float: left;
    margin-bottom: 20px;
}

.search-Label {
    float: right;
    padding-bottom: 10px;
}

.sr-only {
    font-size: 0;
}
