.tips-container {
    background-color:  #65B3FC;
    text-align: justify;  
    width: 100%;
}

h1 {
    padding: 20px 10px 10px 10px;
    
    color: white;
    text-align: center;  
}

h2 {
    padding: 20px 10px 10px 10px;

    color: white;
    text-align: justify;  
}

h4 {
    font-size: 18px;
    color: white;
    text-align: left;  
}
