#login-container .form-label {
    float: left;
}

.inicio-sesion {
    height: 40vmin;
    display: flex;
}

.login-header {
    background-color: #65B3FC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px, 20px, 20px, 20px;
  }
  